[Unit]
Descriptiuon=kaginawa
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/kaginawa
ExecStart=/opt/kaginawa/main.py
Restart=always
User=kaginawa

[Install]
WantedBy=multi-user.target

