[Unit]
Descriptiuon=kaginawa
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/kaginawa
ExecStart=/home/pi/kaginawa/main.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

